<div class="card">

  <div class="actions edition">
    <div class="fa fa-ellipsis-h"></div>
    <div class="dummy-for-hovering">
      <ul class="menu">
        <li ng-repeat="item in card.actions">
          <a ng-click="item.action()">
            <span class="tooltiped fa fa-{{item.icon}} fw"></span>
            <span>{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>  

  <a href="{{card.src}}" target="_blank">
    <img src="" data-ng-src="{{card.src}}">
    <div ng-if="card.legende || card.date || card.source">
      <div class="source-date" ng-if="card.date || card.source">
        <span class="source">{{card.source}}</span>
        <span class="date">{{card.date}}</span>
      </div>
      <div class="legend" ng-if="card.legende">{{card.legende}}</div>
    </div>
  </a>

  <div class="actions links" ng-show="card.links.length > 0">
    <div class="fa fa-info"></div>
    <div class="dummy-for-hovering">
      <ul class="menu">
        <li ng-repeat="item in card.links">
          <a ng-click="item.action()">
            <span class="tooltiped fa fa-{{item.icon}} fw"></span>
            <span>{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>