/* Actions */
#gamme .actions {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* Grid */
#gamme .deckgrid {
  width: 1400px;
  margin: auto;
}

#gamme .deckgrid[deckgrid]::before {
  content: '5 .column.column-1-5';
  font-size: 0;
  visibility: hidden;
}

#gamme .deckgrid .column-1-5 {
  width: 20%;
}

#gamme .deckgrid .column {
  float: left;
}

/* Card */
#gamme .deckgrid .card {
  position: relative;
  display: block;
  margin: 30px 15px;
}
#gamme .deckgrid .card img {
  display: block;
  max-width: 100%;
}
#gamme .deckgrid .card > a > div {
  margin-top: 2px;
  padding: 5px;
  background: #333;
  color: #ccc;
  text-align: center;
  line-height: 15px;
}
#gamme .deckgrid .card .source-date {
  margin-bottom: 2px;
  padding: 0 20px;
}
#gamme .deckgrid .card .source-date > span {
  font-size: 9pt;
  margin: 0 2px;
}
#gamme .deckgrid .card .source-date .source {
  color: var(--subtitle-color);
}
#gamme .deckgrid .card .source-date .date {
  color: #999;
}

#gamme .deckgrid .actions {
  position: absolute;
  bottom: 3px;
  right: 6px;
  left: auto;
  cursor: pointer;
}
#gamme .deckgrid .actions .fa {
  font-size: 12pt;
}
#gamme .deckgrid .actions > .fa {
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 4px;
}
#gamme .deckgrid .actions > .fa:before {
  position: absolute;
  top: 5px;
  left: 4px;
}
#gamme .deckgrid .actions .dummy-for-hovering {
  display: none;
  position: absolute;
  top: 5px;
  right: -6px;
  width: 220px;
  padding-top: 20px;
  z-index: 2;
}
#gamme .deckgrid .actions .menu {
  padding: 2px 5px;
  color: #ddd;
  background: #222;
  border-radius: 5px;
  text-align: left;
}
#gamme .deckgrid .actions .menu:before {
  content: '';
  border-style: solid;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #222;
  border-top: none;
  position: absolute;
  top: 10px;
  right: 0;
}
#gamme .deckgrid .actions:hover .dummy-for-hovering,
#gamme .deckgrid .actions .dummy-for-hovering:hover {
  display: block;
}
#gamme .deckgrid .actions .menu li {
  padding: 5px 5px;
}
#gamme .deckgrid .actions .menu li .fa {
  margin-right: 5px;
}
#gamme .deckgrid .actions .menu li a {
  color: #ddd;
  opacity: 0.7;
}
#gamme .deckgrid .actions .menu li a:hover {
  opacity: 1;
}

#gamme .deckgrid .card-link,
#gamme .deckgrid .card-link:visited
{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 4px;
  bottom: 3px;
  left: 6px;
}
#gamme .deckgrid .card-link .fa {
  font-size: 14px;
  opacity: 0.7;
}
#gamme .deckgrid .card-link .fa:before {
  position: absolute;
  top: 4px;
  left: 3px;
}
#gamme .deckgrid .card-link .fa:hover {
  opacity: 1;
}


