.centrer {
  text-align: center;	
 }
 
 .left {
   text-align: left;	
 }
 
.cadre {
  
   border:1px solid white;
   width:auto;
   height:auto;
   padding:10px;
}



.taille  {
	font-size:200%;
}	

.conteneur1
{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

 .box {
  align-self: auto; 
}

p {
text-align:left;
line-height:2em;	
}
