#modele .carousel {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
	width: 200px;
  padding-top: 10px;
  padding-right: 10px;
	text-align: center;
	max-height: 100%;
  overflow-x: hidden;
	overflow-y: auto;
  color: #ddd;
}
#modele .carousel .title {
  color: var(--subtitle-color);
  font-family: "MesAutos_Body_Font";
  font-size: 14pt;
  margin-bottom: 15px;
}
#modele .carousel li {
  padding: 10px;
  margin-bottom: 15px;
  background: #ddd;
  cursor: pointer;
}
#modele .carousel li.selected {
  background: #efc18f;
}
#modele .carousel .version {
  padding: 5px;
  background: #d2d2d2;
  color: var(--subtitle-color);
}
/*#modele .carousel .version .nom {
  font-size: 12pt;
}*/
#modele .carousel .version .year {
  margin-left: 3px;
  color: #666;
}
/*#modele .carousel .version .categorie {
  display: inline-block;
  color: #eee;
  padding: 0 7px;
  margin-top: 4px;
  border-radius: 5px;
  background: green;
  font-size: 9pt;
  line-height: 16px;
}*/

#modele .annee-modele {
  position: absolute;
  top: 0;
  left: 210px;
  bottom: 0;
  right: 0
}
