<div id="modele">

  <div id="content">
    <div class="carousel">
      <div class="title subtitle">{{modele.nomModele}}</div>

      <hr/>

      <ul class="actions">
        <li ng-repeat="item in sidebar">
          <a href="{{item.link}}" class="tooltiped fa fa-{{item.icon}}"></a>
          <div class="tooltip"><pre>{{item.tooltip}}</pre></div>
        </li>
      </ul>

      <hr/>
    
      <ul>
        <li ng-repeat="anneeModele in anneeModeles" class="link">
          <img ng-src="{{getImageForAnneeModele(anneeModele)}}">

          <div class="annee-modele">
            <div class="year">{{anneeModele.annee}}</div>
            <ul class="gammes">
              <li ng-repeat="gamme in anneeModele.gammes" ng-class="{selected: gamme.idGamme == selectedGamme.idGamme}" ng-click="select(gamme)">
                <span class="nom-gamme" ng-if="gamme.nom">{{gamme.nom}}</span>
                <span class="type-gamme" ng-class="{mini: !!gamme.nom}" ng-if="gamme.type">{{gamme.type | categorieType}}</span>
                <div class="nom-gamme" ng-if="!gamme.nom && !gamme.type">...</div>
              </li>
            </ul>
          </div>

        </li>
      </ul>
    </div>

    <mesautos-gamme cfg="gammeCfg" class="gamme-photos"></mesautos-gamme>
  </div>
  
  <div id="sidebar">
    <mesautos-sidebar cfg="sidebarCfg"></mesautos-sidebar>
  </div>

</div>
