<div id="modele">

<!--
  <div id="titlebar">
  
    <div>{{version.marque.nomMarque}}</div>
    <div>{{version.modele.nomModele}}</div>
    <div>{{version.version.nom}}</div>

    <a href="#/saisie/edit/version?id={{versionId}}" class="fa fa-edit"></a>
    <a href="#/saisie/add/docVersion?id={{versionId}}" class="fa fa-plus"></a>
    <a href="#/marque/{{version.marque.idMarque}}#modele-{{version.modele.idModele}}" class="fa fa-times exit"></a>
    
  </div>
-->

  <div id="content">
    <div class="carousel">
      <div class="title">{{modele.modele.nomModele}}</div>
      <ul>
        <li ng-repeat="version in modele.versions" ng-class="{selected: version.idVersion == selectedVersion.idVersion}" ng-click="maximize(version)">
          <div class="version">
            <div>
              <!--<span class="nom">{{version.nom}}</span>-->
              <span class="year">{{version.anneeModele}}</span>
            </div>
            <!--<div class="categorie">{{version.type | categorieType}}</div>-->
          </div>
          <div class="picture" ng-style="backgroundImage(version.doc.idDocumentVersion)" class="thumbnail"></div>
        </li>
      </ul>
    </div>

    <mesautos-annee-modele cfg="anneeModeleCfg" class="annee-modele"></mesautos-annee-modele>
  </div>
  
  <div id="sidebar">
    <mesautos-sidebar cfg="sidebarCfg"></mesautos-sidebar>
  </div>

<!--
  <div id="legend">
    <div>{{getLegend()}}</div>

    <a href="#/saisie/edit/docVersion?id={{version.docs[selected].idDocumentVersion}}" class="fa fa-edit"></a>
    
  </div>
 -->
</div>
