#modele .carousel {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
	width: 190px;
  padding-top: 10px;
  padding-right: 10px;
	text-align: center;
	max-height: 100%;
  overflow-x: hidden;
	overflow-y: scroll;
  color: #ddd;
}

#modele .carousel .subtitle {
  margin-bottom: 15px;
  color: var(--subtitle-color);
  font-size: 14pt;
}

#modele .carousel .link {
  width: 165px;
  margin-bottom: 35px;
  border-right: 5px solid #111;
}
#modele .carousel .link img {
  display: block;
  width: 160px;
}

#modele .carousel .link .annee-modele {
  margin-top: 2px;
  padding: 5px;
  background: #ddd;
  color: #333;
}
#modele .carousel .link .year {
  padding: 5px;
  background: #d2d2d2;
  color: var(--subtitle-color);
}
#modele .carousel .link .gammes > li {
  padding: 5px;
  cursor: pointer;
}
#modele .carousel .link .gammes > li.selected,
#modele .carousel .link .gammes > li:not(.selected):hover {
  background: var(--title-color);
  color: #eee;
}
#modele .carousel .link .gammes > li:not(.selected):hover {
  opacity: 0.5;
}
#modele .carousel .link .gammes > li .type-gamme.mini {
  font-size: 8pt;
  margin-left: 2px;
}
#modele .carousel .link .gammes > li .type-gamme.mini:before {
  content: '[';
}
#modele .carousel .link .gammes > li .type-gamme.mini:after {
  content: ']';
}

#modele .gamme-photos {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0
}
