<div id="home">

  <div id="content">

    <!-- MARQUES -->
    <ul id="marques" class="view grid" ng-show="selectedView == 'marques'">
      <li ng-repeat="marque in marques | filter: filterPays | orderBy: 'nomMarque'" ng-click="goToMarque(marque)">
    		<div ng-style="marqueBackgroundImage(marque)" class="thumbnail logo"></div>
    		<div class="mask">
          <div class="info">
            <div>{{marque.nomMarque}}</div>
      		  <img ng-src="img/pays/{{marque.pays}}.png" class="pays"/>
          </div>
    		</div>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <!-- SALONS -->
    <ul id="salons" class="view grid" ng-show="selectedView == 'salons'">
      <li ng-repeat="salon in salons" ng-click="goToSalon(salon)">
        <div ng-style="salonBackgroundImage(salon)" class="thumbnail logo"></div>
        <div class="mask">
          <div class="info">
            <div>{{salon.annee}}</div>
          </div>
        </div>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <!-- MINIS -->
    <ul id="miniatures" ng-show="selectedView == 'miniatures'">
      <li ng-repeat="marque in miniatures.marques">
        <div class="nom-marque" ng-class="{expanded: isExpanded(marque)}" ng-click="toggleMarque(marque)">{{marque.nomMarque}}</div>
        <ul ng-if="isExpanded(marque)">
          <li class="modele" ng-class="{jelai: modele.mini == 'Y'}" ng-repeat="modele in marque.modeles" ng-click="toggleMini(modele)">
            <span class="fa fa-{{modele.mini == 'Y' ? 'check' : 'times'}}"></span>
            <span>{{modele.nomModele}}</span>
          </li>
        </ul>
      </li>
    </ul>

  </div>

  <div id="sidebar">

    <ul class="views">
      <li ng-class="{selected: selectedView == 'marques'}">
        <div ng-click="showView('marques')" class="tooltiped fa fa-car"></div>
        <div class="tooltip"><pre>Marques</pre></div>
      </li>
      <li ng-class="{selected: selectedView == 'salons'}">
        <div ng-click="showView('salons')" class="tooltiped fa fa-calendar"></div>
        <div class="tooltip"><pre>Salons</pre></div>
      </li>
      <li ng-class="{selected: selectedView == 'miniatures'}">
        <div ng-click="showView('miniatures')" class="tooltiped fa fa-star-o"></div>
        <div class="tooltip"><pre>Miniatures</pre></div>
      </li>
    </ul>

    <div class="filters" ng-show="selectedView == 'marques'">
      <hr/>
        <a href="#/marque/1129" class="link">Mes autos à moi</a>
      <hr/>
      <ul>
        <li ng-repeat="p in pays">
          <div ng-click="toggleFilter(p)">
            <span ng-show="p.filter">&#x2714;</span>
          </div>
          <div ng-click="selectFilter(p.code)">
            <img ng-src="img/pays/{{p.code}}.png" class="pays"/>
            <span>{{p.code}}</span>
          </div>
        </li>
      </ul>
    </div>

    <hr/>

    <ul class="actions">
      <li ng-repeat="item in sidebar">
        <a href="{{item.link}}" class="tooltiped fa fa-{{item.icon}}"></a>
        <div class="tooltip"><pre>{{item.tooltip}}</pre></div>
      </li>
    </ul>

  </div>

</div>


