#home #content .grid {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#home #content .grid li {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: #ddd;
  margin: 5px 2px;
}
#home #content .grid li:empty {
  height: 0;
}

#home #content .grid .logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#home #content .grid .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.2s ease;
  font-size: 11pt;
  color: #ddd;
  text-align: center;
}
#home #content .grid li:hover .mask {
  background-color: #333;
}
#home #content .grid .mask .info {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#home #content .grid li:hover .mask .info {
  display: block;
}
#home #content .grid .mask .info img {
  width: 30px;
  margin-top: 10px;
}
#home #content .grid li:hover .mask {
  opacity: 1;
}

/* Salons */
#home #content .grid .salon {
  font-size: 34px;
  color: #ccc;
  text-align: center;
  line-height: 120px;
}

/* Filters */
#home #sidebar .filters {
  max-height: 360px;
}
#home #sidebar .filters.ng-hide {
  max-height: 0;
}
#home #sidebar .filters .pays {
  width: 20px;
  vertical-align: middle;
  margin-right: 2px;
}
#home #sidebar .filters > ul {
  -webkit-columns: 2;
}

/* Miniatures */
#home #miniatures > li {
  margin: 15px 0;
  padding: 15px;
  background: #ddd;
  column-count: 4;
}
#home #miniatures .nom-marque {
  display: inline-block;
  padding: 2px 0;
  color: var(--title-color);
  font-size: 14pt;
  cursor: pointer;
}
#home #miniatures .nom-marque.expanded {
  margin-bottom: 10px;
}
#home #miniatures .nom-marque.expanded:before {
  transform : rotate(90deg) scale(1.25, 0.75);
}
#home #miniatures .nom-marque:before {
  display: inline-block; /* avoid underline on hover */
  margin-right: 10px;
  font-size: 12pt;
  content: "\2771";
  transform: scale(1.25, 0.75);
}
#home #miniatures .nom-marque:hover {
  text-decoration: underline;
}
#home #miniatures .modele {
  margin-bottom: 7px;
  cursor: pointer;
}
#home #miniatures .modele:hover {
  text-decoration: underline;
}
#home #miniatures .modele.jelai {
  opacity: 0.4;
}
#home #miniatures .modele .fa {
  width: 15px;
  font-size: 8pt;
}
