<div id="home">

  <div id="content">

    <ul id="marques" class="view grid">
      <li ng-repeat="marque in marques | filter: filterPays | orderBy: 'nomMarque'" ng-click="goToMarque(marque)">
    		<div ng-style="marqueBackgroundImage(marque)" class="thumbnail logo"></div>
    		<div class="mask">
          <div class="info">
            <div>{{marque.nomMarque}}</div>
            <div class="subtitle">{{marque.annees}}</div>
      		  <img ng-src="img/pays/{{marque.pays}}.png" class="pays"/>
          </div>
    		</div>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>

  <div id="sidebar">

    <ul class="views">
      <li class="selected">
        <a href="#marques" class="tooltiped fa fa-car"></a>
        <div class="tooltip"><pre>Marques</pre></div>
      </li>
      <li>
        <a href="#salons" class="tooltiped fa fa-calendar"></a>
        <div class="tooltip"><pre>Salons</pre></div>
      </li>
      <li>
        <a href="#annees" class="tooltiped fa fa-bell"></a>
        <div class="tooltip"><pre>Nouveautés</pre></div>
      </li>
      <li>
        <a href="#courses" class="tooltiped fa fa-trophy"></a>
        <div class="tooltip"><pre>Courses</pre></div>
      </li>
      <li>
        <a href="#miniatures" class="tooltiped fa fa-star-o"></a>
        <div class="tooltip"><pre>Miniatures</pre></div>
      </li>
    </ul>

    <div class="filters filters-marques">
      <hr/>
        <a href="#/marque/1129" class="link">Mes autos à moi</a>
      <hr/>
      <ul>
        <li ng-repeat="p in pays">
          <div ng-click="toggleFilter(p)">
            <span ng-show="p.filter">&#x2714;</span>
          </div>
          <div ng-click="selectFilter(p.code)">
            <img ng-src="img/pays/{{p.code}}.png" class="pays"/>
            <span>{{p.code}}</span>
          </div>
        </li>
      </ul>
    </div>

    <hr/>

    <ul class="actions">
      <li ng-repeat="item in sidebar">
        <a href="{{item.link}}" class="tooltiped fa fa-{{item.icon}}"></a>
        <div class="tooltip"><pre>{{item.tooltip}}</pre></div>
      </li>
    </ul>

  </div>

</div>


