/* Views */
#marque #content .view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity linear 0.5s;
}
#marque #content .view.ng-hide {
  opacity: 0;
}

/* Modeles */
#marque #content #modeles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
#marque #content #modeles > li {
  position: relative;
	cursor: pointer;
	width: 700px;
	height: 300px;
  background: #ddd;
  margin: 20px;
}

/* Infos */
#marque #content #modeles .infos {
  width: 300px;
  padding: 15px;
}
#marque #content #modeles .infos .title {
  font-size: 18pt;
  background: #d2d2d2;
  padding: 5px;
  margin-bottom: 25px;
}
#marque #content #modeles .infos .title .nom {
  color: var(--subtitle-color);
}
#marque #content #modeles .infos .title .year {
  margin-top: 5px;
  font-size: 12pt;
  color: #999;
}

#marque #content #modeles .infos .categorie {
  display: inline-block;
  margin-bottom: 25px;
  color: #eee;
  background: #999;
  padding: 5px 10px;
  border-radius: 5px;
}

#marque #content #modeles .infos .carac p {
  margin-bottom: 10px;
  line-height: 15px;
}
#marque #content #modeles .infos .carac .key {
  color: #999;
  opacity: 0.6;
}

/* Picture */
#marque #content #modeles .picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

/* Filters */
#marque #sidebar .filters {
  max-height: 230px;
  font-size: 80%;
}
#marque #sidebar .filters.ng-hide {
  max-height: 0;
}

/* Histo */
#marque #histo {
  text-align: center;
  padding: 0 80px;
  margin: auto;
  color: #999;
  line-height: 16px;
}
#marque #histo .legend {
  color: var(--subtitle-color);
}
#marque #histo img {
  max-width: 400px;
  max-height: 600px;
  margin: 10px;
}
#marque #histo > div {
  margin-bottom: 40px;
}

#marque #histo h1 {
  color: var(--title-color);
  font-size: 16pt;
  padding: 40px 0 15px 0;
}
#marque #histo h1:first-child {
  padding-top: 0;
}
#marque #histo h2 {
  color: var(--title-color);
  font-size: 11pt;
  padding: 30px 0 10px 0;
}
#marque #histo p {
  padding: 5px 0;
}
#marque #histo a,
#marque #histo b {
  color: var(--subtitle-color);
}