<div id="marque">

  <div id="content">
    <ul id="modeles">
      <li ng-repeat="modele in marque.modeles | filter: filterCategorie" ng-click="goToModele(modele)">

        <div class="infos">
          <div class="title">
        	  <div class="nom">{{modele.nomModele}}</div>
            <div class="year" ng-if="modele.yearInName">{{modele.yearInName}}</div>
          </div>

          <div class="categorie" style="background-color: {{modele.categorieCfg.color}}">{{modele.categorieCfg.label}}</div>

          <div class="carac">
            <p ng-show="modele.debut != ''"><span class='key'>Date :</span>
            {{modele.debut}}<span ng-show="modele.fin != ''"> - </span>{{modele.fin}}</p>
            
            <p ng-show="modele.cylindree_min != ''"><span class='key'>Cylindrée :</span>
            {{modele.cylindree_min}}<span ng-show="modele.cylindree_max != ''"> - </span>{{modele.cylindree_max}}</p>
            
            <p ng-show="modele.puissance_min != ''"><span class='key'>Puissance :</span>
            {{modele.puissance_min}}<span ng-show="modele.puissance_max != ''"> - </span>{{modele.puissance_max}}</p>
            
            <p ng-show="modele.production != ''"><span class='key'>Production :</span> {{modele.production}}</p>
            
            <p ng-show="modele.commentaire != ''"><span class='key'>Note :</span> {{modele.commentaire}}</p>
          </div>  
      	</div>
      	
      	<div class="picture thumbnail" ng-style="backgroundImage(modele.version)"></div>
        
      </li>
    </ul>
  </div>


  <div id="sidebar">

    <mesautos-sidebar cfg="sidebarCfg"></mesautos-sidebar>

    <hr/>

    <ul class="filters">
      <li ng-repeat="categorie in categories">
        <div ng-click="toggleFilter(categorie)">
          <span ng-show="categorie.filter">&#x2714;</span>
        </div>
        <div ng-click="selectFilter(categorie.code)">{{categorie.label}}</div>
      </li>
    </ul>

    <hr/>

    <ul class="actions">
      <li ng-repeat="item in sidebar">
        <a href="{{item.link}}" class="fa fa-{{item.icon}}"></a>
        <div>{{item.tooltip}}</div>
      </li>
    </ul>
  
  </div>

</div>