#marque #content #modeles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
#marque #content #modeles > li {
  position: relative;
	cursor: pointer;
	width: 700px;
	height: 300px;
  background: #ddd;
  margin: 20px;
}

/* Infos */
#marque #content #modeles .infos {
  width: 300px;
  padding: 15px;
}
#marque #content #modeles .infos .title {
  font-size: 18pt;
  background: #d2d2d2;
  padding: 5px;
  margin-bottom: 25px;
}
#marque #content #modeles .infos .title .nom {
  color: var(--subtitle-color);
}
#marque #content #modeles .infos .title .year {
  margin-top: 5px;
  font-size: 12pt;
  color: #999;
}

#marque #content #modeles .infos .categorie {
  display: inline-block;
  margin-bottom: 25px;
  color: #eee;
  background: #999;
  padding: 5px 10px;
  border-radius: 5px;
}

#marque #content #modeles .infos .carac p {
  margin-bottom: 10px;
  line-height: 15px;
}
#marque #content #modeles .infos .carac .key {
  color: #999;
  opacity: 0.6;
}

/* Picture */
#marque #content #modeles .picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

/* Filters */
#marque #sidebar .filters > li {
  margin-bottom: 5px;
}
#marque #sidebar .filters > li > div {
  display: inline-block;
  vertical-align: middle;
}
#marque #sidebar .filters > li > div:first-child {
  cursor: pointer;
  background: #222;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
#marque #sidebar .filters > li > div:first-child span {
  display: block;
  color: var(--subtitle-color);
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
}
#marque #sidebar .filters > li > div:last-child {
  cursor: pointer;
}
#marque #sidebar .filters > li > div:last-child:hover {
  text-decoration: underline;
}
