#sidebar {
  position: fixed;
  left: 0;
  width: 190px;
  top: 60px;
  bottom: 0;
  padding: 15px 10px 0 10px;
  border-right: 1px solid var(--title-color);
  color: #999;
  z-index: 40;
}
.actions {
  text-align: center;
}
.actions > li {
  display: inline-block;
  position: relative;
  width: 24px;
  margin: 0 5px;
}

/* Tooltip */
.tooltip {
  display: none;
  position: absolute;
  bottom: 35px;
  left: 50%;
}
.tooltip > pre {
  position: relative;
  left: -50%;
  color: #ddd;
  background: #222;
  border-radius: 5px;
  white-space: nowrap;
  padding: 5px 10px;
  white-space: pre;
  line-height: 16px;
}
.tooltip:before {
  content: '';
  border-style: solid;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #222;
  border-bottom: none;
  position: absolute;
  bottom: -10px;
  left: -14px;
}

.tooltiped:hover + .tooltip {
  display: block;
}


/* Title */
#sidebar .title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--subtitle-color);
  font-size: 18pt;
}
#sidebar .subtitle {
  font-size: 12pt;
  text-align: center;
  margin-bottom: 10px;
}

#sidebar .title a {
  color: var(--subtitle-color);
}
#sidebar .flag {
  height: 16px;
  margin-right: 7px;
}

#sidebar .logo > div {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  background-color: #ddd;
}
#sidebar .logo > div > div {
  width: 100px;
  height: 100px;
}

hr {
  border: none;
  height: 1px;
  margin: 15px 0;
  padding: 0;
  background: #333;
}

/* Views */
#sidebar .views {
  text-align: center;
  width: 90%;
}
#sidebar .views > li {
  position: relative;
  display: inline-block;
  margin: 0 2px 8px 2px;
  background-color: #666;
  color: #eee;
  width: 32px;
  height: 32px;
  line-height: 36px;
  opacity: 0.9;
  cursor: pointer;
  transition: background-color linear 0.25s;
}
#sidebar .views > li.selected {
  background-color: var(--title-color);
}
#sidebar .views > li:hover {
  opacity: 1;
}
#sidebar .views > li .fa {
  font-size: 20px;
  color: #eee;
}


/* Filters */
#sidebar .filters {
  overflow: hidden;
  transition: all linear 0.5s;
}
#sidebar .filters > ul> li {
  margin-bottom: 5px;
}
#sidebar .filters.filters-marques > ul > li {
  display: inline-block;
  width: 50%;
}
#sidebar .filters > ul > li > div {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .filters > ul > li > div:first-child {
  cursor: pointer;
  background: #222;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
#sidebar .filters > ul > li > div:first-child span {
  display: block;
  color: var(--subtitle-color);
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
}
#sidebar .filters > ul > li > div:last-child {
  cursor: pointer;
}
#sidebar .filters > ul > li > div:last-child:hover {
  text-decoration: underline;
}


/* Links */
#sidebar .link {
  display: block;
  text-align: center; 
  color: var(--subtitle-color);
}
#sidebar .link:hover {
  text-decoration: underline;
}